Flask
gunicorn
Jinja2
jsonpickle
keras
Keras-Preprocessing
matplotlib
matplotlib-inline
numpy
pandas
Pillow
scikit-learn
scipy
sklearn
tb-nightly
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
