absl-py
argcomplete
argon2-cffi
asgiref
astor
astunparse
attrs
Augmentor
backcall
bleach
cached-property
cachetools
certifi
cffi
chardet
charset-normalizer
clang
click
colorama
cycler
debugpy
decorator
defusedxml
dj-database-url
entrypoints
Flask
gunicorn
Jinja2
joblib
jsonpickle
jsonschema
keras
Keras-Preprocessing
matplotlib
matplotlib-inline
nltk
numpy
pandas
scikit-learn
scipy
sklearn
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tqdm
Werkzeug

